body {
  max-width:1110px;
  margin: auto;
  font-family: "Mulish", sans-serif;
  
}

.container__intro {
  max-width: 635px;
  width: 100%;
  font-size: 40px;
  line-height: 60px;
  line-height: 120%;
  color: #111111;
  margin-top: 2rem;
}

.product_designer {
  color: #4A4FF2;
}


.small__intro {
  font-weight: 700;
  font-size: 22px;
  line-height: 27.61px;
  letter-spacing: -0.42px;
  color: #4A4FF2;
}

.grid__image__container {
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

/*.grid__container {
    width:100%;
    max-height:1960px;
    height:100%;
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-template-rows: repeat(32 , 1fr);

}*/
.service_list__container {
  display:flex;
  align-items: center;
  margin-top:3rem;
}

.service_list__text {
  
  font-size: 28px;
  line-height: 38px;
  line-height: 108%;
  fill: solid;
  color: #111111;
  max-width: 635px;
  width: 100%;
}

.service__list1, .service__list2 {
  /* @include list_style; */
 
  font-weight: 400;
  line-height: 30px;
  opacity: 60%;
  list-style-type: none;
  font-size: 18px;
}

.awards_container {
  margin-top: 50px;
  border-top: solid; 
  border-color: #111111; 
  border-top-color: #D8D8D8;
  display: flex;
  justify-content: space-between;
  
  
 }

.awards_name {
  font-size:22px;
  font-weight: 700;
}

.awards_type {
  font-size: 18px;
  font-weight: 700;
  
  
  
  

}
.awards_type1 {
  margin-top: 10rem;
  font-size: 18px;
  font-weight: 700;
  
  
}
.awards_reason {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
  opacity: 50%;
}

.awards_small_text {
  line-height:26px;
  opacity: 60%;
  width: 190px;
}

.awards_container2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  

}

.awards_name2 {
  opacity: 0;
}

.border_bottom {
  border-bottom: solid;
  border-bottom-color:  #D8D8D8;
  margin-top: 20px;
}

.footer {
  display:flex;
  justify-content: space-between;
}

.social {
  margin-left: 100px;
}



/*header&nav styles

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}
.navbar__logo {
  margin-left: 20px;
  margin-top: 20px;
}
.navbar__menu {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 23px;
  line-height: 100%;
  letter-spacing: -0.35px;
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.navbar__menu__list {
  padding: 20px;
  list-style-type: none;
}
.navbar__menu__list a {
  color: #111111;
  font-size: 18px;
  text-decoration: none;
} */

